*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.background{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(back-image.jpg); 
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.outline{
    height: 600px;
    width: 1000px;
    background-color: #ffffff;
    display: flex;
    
    
     
    
}
.section-1{
    margin-top: 50px;
    margin-left: 50px;
    
}
.para-1{
    font-size: 2rem;
    font-weight: bold;
}
.info{
    margin-top: 10px;
    display: flex;
}
.info a{
    color: rgb(233, 49, 233);
    font-weight: bold;
    
}
.Login-bar {
    
    
    border-radius: 10px;
    
    
    width: 300px;
    margin-top: 50px;
    
}
.para-2{
    font-size: 1rem;
    font-weight: bold;

}
.password{
    display: flex;
    margin-top: 20px;
}
.password a{
    margin-left: 120px;
    font-size: 0.85rem;
}

form {
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="Password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.checkbox{
    display: flex;
    margin-right: 10px;
    margin-top: 20px;
}

.checkbox p{
    margin-left: 10px;
}
.submit{
    margin-top: 20px;
}
.devision{
    display: flex;
    margin-top: 30px;
}
.devision p{
    /* width: 500px; */
    margin-left: 2px;
    margin-right: 2px;
}
.line{
    border-top: 2px solid grey;
    width: 120px;
    
}
.part-3{
    margin-top: 20px;
    display: flex;
}
.button1{
    height: 30px;
    width: 80px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button1 a{
    margin-left: 5px;
}


.button2{
    height: 30px;
    width: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}
.button2 a{
    margin-left: 5px;
}
.button2 i{
    color: blue;
}
.image{
    background-image: url(study.png);
    background-size: cover;
    height: 500px;
    width: 500px;

    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Responsiveness */
@media (max-width : 1100px){
    .outline{
        width: 900px;
    }

}
@media (max-width : 950px){
    .image{
        visibility: hidden;
    }
    .outline{
        width: 400px;
    }
}